.mainBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  color: white;
}
.img {
  width: 50%;
}
.head1 {
  font-style: italic;
}
.info {
  color: #94a3b8;
}
.btn1 {
  padding: 8px 15px;
  margin: 5px;
  color: white;
  background-color: #0b69ff;
  border-radius: 6px;
  border: solid 0px;
}
.btn2 {
  padding: 8px 15px;
  margin: 5px;
  color: white;
  background-color: black;
  border-radius: 6px;
  border: solid 2px white;
}
